.modal-header {
    background-color : unset !important;

    .modal-title {
        color : #333 !important;
    }

    .close {
        margin : -0.7rem -1rem -1rem auto !important;
    }
}

.modal-footer {

    button {
        padding : 0 15px;
    }
}